.container-info {
    background-color: transparent;
    background-image: radial-gradient(#00000041 1px, #ffffff 1px);
    background-size: 30px 30px;
    margin: 10rem auto;
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}

.container-title {
    width: 40%;
}

.container-title h1 {
    font-size: 3.8rem;
    margin-bottom: 1.5rem;
}

.container-title p {
    font-size: 1.8rem;
}

.container-title p span{
    font-weight: 700;
    color: #D40DD9;
    font-size: 1.8rem;
}

.container-img  {
    background-color: #fb00ff6b;
}


.container-img img {
    position: relative;
    top: -20px;
    left: -20px;
    width: 400px;
}