@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Playwrite DE Grund", cursive;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

/* TODO: Personalizar la barra de desplazamiento */

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #0E0E28;
}

body::-webkit-scrollbar-thumb:hover {
    background: #3e3e3e72;
}
